.welcome{
    background-color: #0778C0;
    height: 100vh;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.menu_welcome{
    display: flex;
    justify-content: space-between;
    padding: .5rem 1rem;
}

.titulo{
    margin-left: 1em;
    color: white;
}

.menu{
    display: flex;
    font-size: 1.09375rem;
    margin-top: 1em;
    cursor: pointer;
}

.menu_login a{
    color: white !important;
    text-decoration: none;
    margin-right: 1em;
    margin-top: 2em;
}

.menu_login a:hover{
    text-decoration: underline;
}

.menu_registro a{
    background-color: white;
    padding: .45rem .6rem;
    font-size: 1.09375rem;
    line-height: 1.5;
    border-radius: .2rem;
    text-decoration: none;
    color: #0778C0;

}

.menu p{
    margin: 1em;
    color: white;
}

.main{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin:4em auto;
}

.info_text{
    padding: 2em;
}

.info_text_h2{
    font-size: 40px;
    color: white;
}

.info_text_h3{
    color: white;
    font-size: 20px;
    margin-top: 1em;
}