.personal_boards {
    width: 100%;
    height: 100vh;
}

.personal_main {
    height: 100vh;
    width: 100%;
}

.personal_menu {
    display: flex;
    justify-content: space-between;
}

.personal_menu_left,
.personal_menu_right {
    display: flex;
}

.personal_menu_buttons {
    background-color: rgba(0, 0, 0, .08);
    color: #172b4d;
    margin: .5em;
    padding: .1em .5em .1em .5em;
    font-size: 14px;
    display: flex;
    align-items: center;
    border-radius: 4px;
}

.personal_menu_buttons p {
    margin: 0 5px;
}

.personal_menu_buttons:hover {
    background-color: #ADAEAA;
    cursor: pointer;
    opacity: .5;
    color: #172b4d;
}

.personal_menu_buttons_avatar {
    background-color: none;
    margin: .5em;
    padding: 2px 2px;
    font-size: 14px;
    display: flex;
    align-items: center;
    border-radius: 4px;

}

.personal_board_avatar:hover {
    background-color: white;
    opacity: .5;
    border-radius: 50%;
    cursor: pointer;
}

.main_plank {
    display: flex;
    width: 100%;
}

.plank {
    cursor: pointer;
    width: 272px;
    height: 100%;
    margin: 1em 1em 0 1em;
    background-color: #ebecf0;
    border-radius: 3px;
    box-sizing: border-box;
}

.plank_div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plank_div span{
    margin-top: 5px;
    margin-right: 8px;
    font-size: 18px;
    color: #172b4d;
    font-weight: bold;
}

.plank_name {
    color: #172b4d;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 14px;
    margin-left: 1em;
    padding: 5px;
}

.task_button {
    border-radius: 3px;
    margin: 2px;
    text-decoration: none;
    
}

.task_button:hover{
    background-color: #DADBE2;
    cursor: pointer;
    
}

.task_button button{
    background-color: transparent;
    outline: none;
    color: #5e6c84;
    border: none;
    padding: 2px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.task_button button:hover{
    color: #172b4d !important;
}

.task_button span{
    color: #5e6c84;
}

.new_plank{
    background-color: rgba(0, 0, 0, .08);
    color: #172b4d;
    margin: .5em;
    padding: .1em .5em .1em .5em;
    font-size: 14px;
    display: flex;
    align-items: center;
    border-radius: 4px;
}

.new_plank input{
    padding: 5px;
    outline: none;
    border: none;
    border-radius: 3px;
    color: #172b4d;
}

.new_plank input:focus{
    outline: thin dotted; 
    border-radius: 3px;
}

.new_plank button{
    outline: none;
    background-color: transparent;
    margin: 5px;
    color: #172b4d;
    cursor: pointer;
    border: none;
}

