.cabecera{
    width: 100%;
    height: 7vh;
    background-color: #026AA7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.left, .right{
    display: flex;
    align-items: center;
    height: 40px;
    color: white;
    margin: 3px;
}

.icons{
    background-color: #67A6CA;
    margin: 3px;
    border-radius: 3px;
    cursor: pointer;
    padding: 6px 7px;  
    display: flex;
}

.icon_title{
    margin-left: 10px;
    font-weight: bold;
}

.icons:hover{
    background-color: #3588b9;
    transition: 300ms;
}

.icons_image{
    width: 40%;
}

.icons_image{
    margin: 3px;
}

.logo_header img{
    height: 30px;
    width: 80px;
    opacity: 0.5;
}

.logo_header img:hover{
    cursor: pointer;
    opacity: 0.8;
    transition: .1s;
}